body {
  margin: 0;
  background-color: #f6f8f2 !important;
}
.title {
  font-family: Sen;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 87px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #2D2929;
}
