body {
  margin: 0;
  background-color: #f6f8f2 !important;
}
.title {
  font-family: Sen;
  font-style: normal;
  font-weight: bold;
  font-size: 1.875vw;
  line-height: 1.898vw;
  display: flex;
  align-items: center;
  text-align: center;
  color: #2D2929;
  margin-left: 1.875vw;
}

@media screen and (max-widt: 1024px) {
  .title {
    font-size: 2.875vw;
  }
}
