body {
  margin: 0;
  background-color: #ECECEC !important;
}
.title {
  font-family: Sen;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 87px;
  display: flex;
  align-items: center;
  text-align: center;
margin: 3rem;
  color: #2D2929;
}

.card-link {
  font-family: Sen !important;
  text-decoration: none!important;
}

.card-title {
  font-family: Sen !important;
}

.card {
  background-color: #dadada;
  color: #2d2929;
  border: none !important;
  margin: 1rem;
}

.card-body {
  border: 0;
  background-color: #dadada;
}
